<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container mt-2">
    <h2>Products List</h2>
    <ol class="h4 text-muted">
        <li th:each="product: ${products}" >
            <p class="panel-footer">
                <span th:text="${product.name}"></span>
                <span th:text="${product.price}" class="float-right"></span>
            </p>
        </li>
    </ol>
    <hr>
    <h4 style="color: red">Sum of products price:<span th:text="${sum}" class="float-right"></span></h4>
</div>
</body>
</html>